name: Testing


on:
  workflow_dispatch:
    branches:
      # Only allow running workflow on master, so that config changes are deployed to master
      - master
    inputs:
      name:
        description: "a name"
        required: true

jobs:
  deployment:
    name: Test (${{ github.event.inputs.name }}, ${{ matrix.world }})
    runs-on: ubuntu-latest
    outputs:
      service: ${{ github.event.inputs.name }}
    strategy:
      matrix: 
        world: [hello, there, you]
    env:
      TAG: ${GITHUB_REF#refs/*/}-$(git rev-parse --short HEAD)
    steps:
      - name: Input Variables
        run: |
           echo "name: ${{ github.event.inputs.name }} ${{ matrix.world }}"
      - name: Set tag
        id: tag
        run:
          echo "::set-output name=tag::${GITHUB_REF#refs/*/}-$(git rev-parse
          --short HEAD)"
      - uses: peter-evans/commit-comment@v1
        with:
          body: |
            name: ${{ github.event.inputs.name }}
      - uses: LouisBrunner/checks-action@v1.1.1
        with:
          name: Output
          token: ${{ secrets.GITHUB_TOKEN }}
          conclusion: ${{ job.status }}
          output: |
            {"summary": "Pushed ${{ github.event.inputs.name }}", "text_description": "It was a success to push ${{ github.event.inputs.name }} with ${{ matrix.world }}"}

          